{:select [:a :b] :from [:t]}
{:select [:*] :from [:t] :where [:= :id 1]}
{:select [:a [:b :bee]] :from [[:things :t]] :where [:and [:= :t.id 1] [:> :n 3]] :order-by [[:n :desc]] :limit 10}
{:select [:user-id :full-name] :from [:app-users] :where [:<> :status "gone"]}
{:select [[[:count :*] :n]] :from [:t] :group-by [:kind] :having [:> [:count :*] 2]}
{:select [[[:coalesce :nick :name "anon"] :label]] :from [:people]}
{:select [:a] :from [:t] :where [:or [:= :a nil] [:<> :b nil]]}
{:select [:a] :from [:t] :where [:in :id [1 2 3]]}
{:select [:a] :from [:t] :where [:not [:= :a 1]]}
{:select [:a] :from [:t] :where [:and [:like :name "a%"] [:or [:< :n 1] [:>= :n 10]]]}
{:select [:a] :from [:t] :where [:= :a [:+ :b 1]]}
{:select [:a] :from [:t] :where [:and [:= :a 1]]}
{:select [:t.a :u.b] :from [:t] :join [:u [:= :t.id :u.tid]] :left-join [:v [:= :v.id :u.vid]]}
{:select [:a] :from [:t] :where [:in :id {:select [:tid] :from [:u] :where [:= :u.ok true]}]}
{:with [[:recent {:select [:id] :from [:events] :where [:> :ts 100]}]] :select [:*] :from [:recent]}
{:union [{:select [:a] :from [:t]} {:select [:a] :from [:u]}]}
{:union-all [{:select [:a] :from [:t]} {:select [:b] :from [:u] :where [:= :b 2.5]}]}
{:select-distinct [:a] :from [:t] :order-by [:a [:b :asc]] :limit 5 :offset 10}
{:insert-into :people :values [{:name "ann" :age 30}]}
{:insert-into :people :values [{:name "ann" :age 30} {:name "bob" :age 41}]}
{:insert-into :people :columns [:name :age] :values [["ann" 30] ["bob" 41]]}
{:update :people :set {:age 31 :nick nil} :where [:= :name "ann"]}
{:delete-from :people :where [:and [:< :age 18] [:= :active false]]}
{:insert-into :people :values [{:name "ann"}] :returning [:id]}
{:select [:a] :from [:t] :where [:= :name "x'); drop table t; --"]}
{:select [[[:upper :name] :u] [[:max :age]]] :from [:people] :group-by [:u]}
